*.ckpt
legacy/*
__pycache__
/home/pradyumngoya/working_dr/Partnet/Unsupervised/SWMP/NetworkDataExtract/OBBcalculation/Input/*
/home/pradyumngoya/working_dr/Partnet/Unsupervised/SWMP/NetworkDataExtract/OBBcalculation/Output/*
job_train_all
training_output_debug/*
train_output*/*
wandb/*
*.txt
